checkpoints/v2/*/final/*.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/v2/*/game_data.npz filter=lfs diff=lfs merge=lfs -text
checkpoints/v2/atari/atari_game_data.npz filter=lfs diff=lfs merge=lfs -text
